body {background-color: #B8B8B8;
	color:#FFFFFF;
} 

b>p {Font-family: courier new;
}

h1 { color:#CC6666;
text-align: center}

img.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 { color:#CC6666;}

*{margin-left:50px;
}

persona.note {margin-left:300px;}
