body { margin-left:50px;
	background-color: #B8B8B8;
	Font-family: courier new;
	color:#FFFFFF;
} 



h1 { color:#CC6666;
text-align: center}

#ashland img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 { color:#CC6666;}
